@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Red Hat Display";
}

body {
  background-color: #0b1c2c;
  color: white;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #153b50;
}

section[id] {
  scroll-margin-top: 70px;
}

#navbar a:hover,
#navbar a.active {
  color: #0ff;
  border-bottom: 3px solid #0ff;
}

#redes-sociales a.facebook:hover {
  box-shadow: 0 0 20px 5px rgba(59, 89, 152, 0.8);
  background-color: rgba(59, 89, 152, 0.8);
}

#redes-sociales a.twitter:hover {
  box-shadow: 0 0 20px 5px rgba(29, 161, 242, 0.8);
  background-color: rgba(29, 161, 242, 0.8);
}

#redes-sociales a.tiktok:hover {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
}

#redes-sociales a.instagram:hover {
  box-shadow: 0 0 20px 5px rgba(188, 42, 141, 0.8);
  background-color: rgba(188, 42, 141, 0.8);
}

#redes-sociales a.linkedin:hover {
  box-shadow: 0 0 20px 5px rgba(40, 103, 178, 0.8);
  background-color: rgba(40, 103, 178, 0.8);
}

.typewriter {
  overflow: hidden; /* Asegura que el texto no se desborde */
  white-space: nowrap; /* Mantiene el texto en una sola línea */
  margin: 0 10px auto; /* Centra el texto horizontalmente */
  letter-spacing: 0.15em; /* Añade espacio entre letras */
  border-right: 0.15em solid #0ff; /* Simula el cursor */
  animation: blink-caret 0.75s step-end infinite; /* Animación del cursor */
}

#text {
  color: #0ff; /* Color neón */
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff; /* Efecto de neón */
  display: inline-block; /* Asegura que el texto se mantenga en una línea */
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  } /* Color transparente para el cursor */
  50% {
    border-color: #0ff;
  } /* Color del cursor */
}
